.ovkwm { 
  border-left-width: 76px;
  margin-left: 40px;
  padding-top: 86px;
  margin-bottom: 37px;
  margin-top: 11px;
  margin-right: 65px;
  padding-right: 24px;
  padding-bottom: 41px;
  margin-left: 89px;
  padding-right: 10px;
  padding-bottom: 77px;
  font-size: 65px;
}
