.ovkwm { 
  border-left-width: 76px;
  margin-left: 40px;
  padding-top: 86px;
  margin-bottom: 37px;
  margin-top: 11px;
  margin-right: 65px;
  padding-right: 24px;
  padding-bottom: 41px;
  margin-left: 89px;
  border-right-width: 98px;
  border-right-width: 64px;
}
