.fdxli { 
  margin-left: 30px;
  padding-right: 35px;
  padding-right: 36px;
  line-height: 54px;
  border-top-width: 83px;
  padding-top: 32px;
  margin-top: 27px;
  padding-left: 19px;
  line-height: 18px;
  margin-left: 70px;
  padding-bottom: 44px;
  padding-top: 2px;
  padding-left: 91px;
  margin-top: 58px;
  border-top-width: 85px;
  padding-left: 25px;
  padding-left: 17px;
  font-size: 29px;
  line-height: 78px;
  margin-right: 45px;
  padding-right: 86px;
  margin-left: 51px;
  padding-top: 49px;
  margin-right: 75px;
  padding-right: 46px;
  margin-right: 82px;
  padding-left: 30px;
  margin-left: 53px;
  margin-right: 76px;
  margin-left: 41px;
  border-left-width: 34px;
  border-right-width: 20px;
  margin-right: 34px;
  border-top-width: 15px;
  padding-bottom: 69px;
  margin-bottom: 84px;
  margin-left: 14px;
  border-bottom-width: 99px;
  padding-right: 9px;
  margin-bottom: 56px;
  line-height: 41px;
  line-height: 94px;
  border-right-width: 0px;
  margin-bottom: 67px;
  border-right-width: 18px;
  font-size: 10px;
  margin-bottom: 2px;
  padding-left: 0px;
  padding-left: 80px;
  margin-left: 61px;
  padding-bottom: 96px;
  border-left-width: 44px;
  border-bottom-width: 47px;
  margin-right: 75px;
  border-top-width: 60px;
  border-left-width: 4px;
  padding-bottom: 0px;
  border-bottom-width: 60px;
  border-left-width: 37px;
  margin-left: 81px;
  margin-right: 70px;
}
