.ovkwm { 
  border-left-width: 76px;
  margin-left: 40px;
  padding-top: 86px;
  margin-bottom: 37px;
  margin-top: 11px;
  margin-right: 65px;
  padding-right: 24px;
  padding-bottom: 41px;
  margin-left: 89px;
  border-right-width: 98px;
  border-right-width: 64px;
  font-size: 34px;
  margin-left: 8px;
  font-size: 29px;
  margin-bottom: 83px;
  padding-right: 25px;
  border-right-width: 49px;
  margin-left: 3px;
  padding-right: 50px;
  margin-right: 18px;
  margin-left: 68px;
  padding-right: 35px;
  border-right-width: 3px;
  padding-top: 69px;
  border-left-width: 82px;
  margin-right: 83px;
  margin-bottom: 25px;
  padding-right: 68px;
  margin-top: 62px;
  border-top-width: 81px;
  margin-left: 15px;
  border-right-width: 57px;
  border-top-width: 42px;
  line-height: 62px;
  border-right-width: 28px;
  margin-left: 74px;
  font-size: 78px;
  margin-right: 51px;
  margin-left: 7px;
  line-height: 78px;
  padding-right: 42px;
  padding-left: 4px;
  padding-right: 67px;
  line-height: 76px;
  border-right-width: 51px;
  padding-bottom: 91px;
  border-bottom-width: 81px;
  border-top-width: 85px;
  border-left-width: 58px;
  border-left-width: 8px;
  padding-left: 49px;
  line-height: 25px;
  padding-left: 60px;
  margin-left: 15px;
  border-left-width: 75px;
  border-top-width: 59px;
  padding-right: 36px;
  border-right-width: 20px;
  border-right-width: 56px;
  margin-left: 79px;
  border-right-width: 24px;
  border-right-width: 82px;
}
